# Add any directories, files, or patterns you don't want to be tracked by version control
Temp/
Library/
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
/*.vsconfig
*.user
*.unityproj
*.booproj
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Thumbs.db.meta
GameBuild/
AssetBundles/
*.pbd.meta
*.unitypackage
*.vs
*.snap
*.tiled-session
*.tiled-session.meta
